/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2015, 5:18:38 PM
    Author     : sbc
*/


.business-posted-date{
    padding:5px;
    border-bottom: 3px solid #eee;
    margin-bottom:10px;
}

.photos .photo{
    float: left;
}

.photo-wrapper{

    border:1px solid #ddd;
    background: #efefef;
    float: left;
    margin:5px;
    text-align: center;
    cursor: pointer;
    width:150px;
    height: 150px;
    line-height: 150px;
}

.kazicode-form-field .photos .photo{
    width: auto;
    float: left;
}
.photo-wrapper img{
    width:100px;
}

.business-photo-delete{
    margin-left:-20px !important;
}

.business-photos div{
    float: left;
    margin: 5px;
}
.business-photos img{
    padding:1px;
    border:1px solid #efefef;
}

.business-list .business{
    background: #FaFaFa;
    border: 1px solid #eee;
    padding:5px;
}

.business-product{
    margin-bottom: 5px;
    padding:5px;
}

.business-update-info{
    margin:5px 0;
}

.business-update-info div{
    text-transform: uppercase;
    margin-left:10px;
    width:auto;
    float: left;
}

.business-update-info div a{
    text-transform: uppercase;
}

.business-title{
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
}

.business-title a{
    color:#333;
}

.business-title a:hover{
    color:#f15d22;
}

.business-row-business{  
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 24px;
    margin-bottom: 24px;
} 

.business-img-wrapper{
    height: 200px;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    margin-bottom: 10px;

}

.business-img-wrapper img{
    width: 100%;
}

.business-location-map{
    margin-top:10px;
}

.business-location-map #map-canvas{
    width: 100%;
    height: 200px;
}


.business-contact-form div{
    margin-left:20px !important;
    margin-right:20px !important;
}
.business-contact-form:before{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:30px solid transparent;
    border-right: 30px solid #ddd;
}

.business-contact-form:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:1px;
    border:29px solid transparent;
    border-right: 28px solid #fafafa;
}

.business-contact-form{
    margin-top:20px;
    padding-top:20px;
    background:#fafafa;
    position:relative;
    width:100%;
    border: 1px solid #ddd;
}

.business-contact-form .btn-success{
    width:100%;
}

.business-products .business-product{
    background: #FaFaFa;
    border: 1px solid #eee;
    text-align: center;
}

.business-contact-form #main-edit-form{
    padding:5px;
}
.business-contact-form .form-group, .business-contact-form .kazicode-form-field {
    padding:0;
    margin:0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


